body {
    background-color: black;
    color: white;
}

.content-table table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
}

.content-table th {
    font-weight: bolder;
}

.content-table th, td {
    padding: .3em;
}
