body {
    background-color: black;
    color: white;
}

div#content {
    padding: 3px;
    margin: 1em;
}

.content-table table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
}

.content-table th {
    font-weight: bolder;
}

.content-table th, td {
    padding: .3em;
}

.content-table td.symbol {
    font-size: x-large;
}

#nav-bar {
    background-color: darkgray;
    padding: .1em 1em 0em .1em;
}

#nav-bar button {
    padding: 1em;
    background-color: darkgray;
    color: white;
    border: none;
    margin: 1px 1px 0px 1px;
}

#nav-bar button:hover {
    background-color: gray;
}

#nav-bar button.selected {
    background-color: black;
}

#board {
    display: flex;
    flex-direction: row;
    padding: 1em;
    text-align: center;
}

#quiz-subject {
    font-size: 4em;
    border: 1px solid;
    align-content: center;
    padding-left: .5em;
    padding-right: .5em;
}

#quiz-options .button-panel {
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    padding: 1em;
    grid-template-columns: repeat(4, 1fr);
}

.option-button {
    border: 1px solid;
    padding: .25em;
}

.score {
    padding: .25em;
}
